.card-header {
  text-align: center;
  font-size: Large;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #4abdac;
  color: white;
}

.card-header-design {
  margin-bottom: 1rem;
}

.add-button {
  background-color: #6883bc;
  align-self: center;
}
.icon-design {
  color: white;
}

table {
  width: 100%;
}

th {
  background-color: #f7b733;
  font-weight: 550;
  font-size: medium;
  color: rgba(49, 47, 47, 0.842);
  text-align-last: center;
}
td {
  text-align-last: center;
}

.top-buttons {
  margin-left: 10px;
  background-color: #efecf3e3;
  color: rgba(34, 33, 33, 0.842);
}

.top-buttons-link {
  text-decoration: none;
  color: rgba(34, 33, 33, 0.842);
}
