<div class="container-fluid mt-4 w-75">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <button mat-raised-button class="topButtons ms-4">
        <a class="topButtonsLink" routerLink="/donetask">Done Tasks </a>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mt-2"><app-list-bank></app-list-bank></div>
    <div class="col-9">
      <div class="ms-4">
        <div class="card cardDesign mt-2">
          <div class="card-header">{{ list.title }}</div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tasks">
              <td class="pt-3">{{ t.title }}</td>
              <td class="pt-3">{{ t.description }}</td>
              <td class="pt-3">{{ t.date }}</td>
              <td>
                <button
                  (click)="doneTask(t)"
                  class="ms-2"
                  mat-icon-button
                  color="primary"
                  title="Task Done!"
                >
                  <mat-icon>done</mat-icon>
                </button>
                <a [routerLink]="['/newtask', list._id, t._id]"
                  ><button
                    class="ms-2"
                    mat-icon-button
                    color="primary"
                    title="Edit Task"
                    (click)="editingTask(t)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </a>
                <button
                  (click)="deleting(t._id)"
                  class="ms-2"
                  mat-icon-button
                  color="primary"
                  title="Delete Task"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
